__pycache__/
*.pyc
*.pyo
*.pyd
*.log

env/
venv/
ENV/
VENV/

.git
.gitignore
.DS_Store
Thumbs.db
tests/
*.test.*
*.spec.*

# Explicitly include needed dirs
!music_assistant/
!zingmusic_provider/
!requirements_all.txt
!dist/
!dist/*
