__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.egg-info/

# Ignore virtual environments
env/
venv/
ENV/
VENV/

# Ignore Git
.git
.gitignore

# Ignore system files
.DS_Store
Thumbs.db

# Ignore test data
tests/
*.test.*
*.spec.*

# Only allow needed files
!dist/
!dist/*
!run.sh
!Dockerfile
!requirements_all.txt
!pyproject.toml
